@using HRPayroll.Utility
@model HRPayroll.Domain.Entity.TaxSetup

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        <h4>TaxSetup</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group col-lg-4">
            @Html.LabelFor(model => model.TaxDescription)
                @Html.EditorFor(model => model.TaxDescription)
                @Html.ValidationMessageFor(model => model.TaxDescription)
            </div>
       

        <div class="form-group col-lg-4">
            @Html.LabelFor(model => model.From)
                @Html.EditorFor(model => model.From)
                @Html.ValidationMessageFor(model => model.From)
            </div>
       

        <div class="form-group col-lg-4">
            @Html.LabelFor(model => model.To)
                @Html.EditorFor(model => model.To)
                @Html.ValidationMessageFor(model => model.To)
            </div>
       

        <div class="form-group col-lg-4">
            @Html.LabelFor(model => model.Rate)
                @Html.EditorFor(model => model.Rate)
                @Html.ValidationMessageFor(model => model.Rate)
            </div>
      
        <div class="form-group col-lg-4">
            @Html.LabelFor(model => model.MaritalStatusId)
                @Html.DropDownListFor(model=>model.MaritalStatusId,DropdownHelper.FillddlMaritalStatus())
                @Html.ValidationMessageFor(model => model.MaritalStatusId)
            </div>
        

        <div class="form-group col-lg-4">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
