@model HRPayroll.Domain.Entity.TaxSetup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TaxSetup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaritalStatus.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaritalStatus.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.From)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.To)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.To)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
