@using HRPayroll.Utility
@model HRPayroll.Domain.Entity.PayPlanSetup

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        <h4>PayPlanSetup</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group col-lg-4">
            @Html.LabelFor(model => model.Employee,"EmployeeName")
                @Html.DropDownList("EmployeeId", DropdownHelper.FillddlEmployee())
                @Html.ValidationMessageFor(model => model.EmployeeId)
            </div>
      

        <div class="form-group col-lg-4">
            @Html.LabelFor(model => model.BasicSalary)
                @Html.EditorFor(model => model.BasicSalary)
                @Html.ValidationMessageFor(model => model.BasicSalary)
            </div>
   

        <div class="form-group col-lg-4">
            @Html.LabelFor(model => model.PreviousGrade)
                @Html.EditorFor(model => model.PreviousGrade)
                @Html.ValidationMessageFor(model => model.PreviousGrade)
            </div>
        
        <div class="form-group col-lg-4">
            @Html.LabelFor(model => model.CurrentGrade)
                @Html.EditorFor(model => model.CurrentGrade)
                @Html.ValidationMessageFor(model => model.CurrentGrade)
            </div>
        

        <div class="form-group col-lg-4">
            @Html.LabelFor(model => model.SpecialAllow)
                @Html.EditorFor(model => model.SpecialAllow)
                @Html.ValidationMessageFor(model => model.SpecialAllow)
            </div>
       

        <div class="form-group col-lg-4">
            @Html.LabelFor(model => model.DearnessAllow)
                @Html.EditorFor(model => model.DearnessAllow)
                @Html.ValidationMessageFor(model => model.DearnessAllow)
            </div>
       
        <div class="form-group col-lg-4">
            @Html.LabelFor(model => model.OtherAllow)
                @Html.EditorFor(model => model.OtherAllow)
                @Html.ValidationMessageFor(model => model.OtherAllow)
            </div>
        

        <div class="form-group col-lg-4">
            @Html.LabelFor(model => model.CIT)
                @Html.EditorFor(model => model.CIT)
                @Html.ValidationMessageFor(model => model.CIT)
            </div>
      

        <div class="form-group col-lg-4">
            @Html.LabelFor(model => model.Insurance)
                @Html.EditorFor(model => model.Insurance)
                @Html.ValidationMessageFor(model => model.Insurance)
            </div>
       

        <div class="form-group col-lg-4">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
