@model HRPayroll.Domain.Entity.LeaveType

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>LeaveType</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.LeaveName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LeaveName)
                @Html.ValidationMessageFor(model => model.LeaveName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LeaveDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LeaveDescription)
                @Html.ValidationMessageFor(model => model.LeaveDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AllowedPerYear, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AllowedPerYear)
                @Html.ValidationMessageFor(model => model.AllowedPerYear)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServiceTypeId, "ServiceTypeId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ServiceTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.ServiceTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EthenicId, "EthenicId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EthenicId", String.Empty)
                @Html.ValidationMessageFor(model => model.EthenicId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaritalStatusId, "MaritalStatusId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaritalStatusId", String.Empty)
                @Html.ValidationMessageFor(model => model.MaritalStatusId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GenderId, "GenderId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GenderId", String.Empty)
                @Html.ValidationMessageFor(model => model.GenderId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AllowHalfDay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AllowHalfDay)
                @Html.ValidationMessageFor(model => model.AllowHalfDay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsPayable, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsPayable)
                @Html.ValidationMessageFor(model => model.IsPayable)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
