@using HRPayroll.Utility
@model HRPayroll.Domain.Entity.MonthlySalaryMast

@{
    ViewBag.Title = "Salary Sheet";
}
<script type="text/javascript">
    function daysInMonth() {
        var month = $('#Month option:selected').val();
        var year = $('#Year option:selected').val();
        $('#Totaldaysinmonth').val(new Date(year, month, 0).getDate());
    }
    function getEmployees() {
        $("#ajax-progress-dialog").show();
        var ajaxOptions = {};
        ajaxOptions.url = "/SalarySheet/IndexSearch";
        ajaxOptions.type = "POST";
        ajaxOptions.data = JSON.stringify({ branchId: $("#Branchid").val(), year: $("#Year").val(), month: $("#Month").val() });
        ajaxOptions.datatype = "json";
        ajaxOptions.contentType = "application/json";
        ajaxOptions.success = function (employeeslist) {
            $("#employeetable").empty();
            $("#employeetable").html(employeeslist);
            $("#ajax-progress-dialog").hide();
        };
        ajaxOptions.error = function () { alert("Error in Getting Data!!"); };
        $.ajax(ajaxOptions);
        
    };
    function total() {
        console.log($("#salarytable").find('tr')[0].cells.length);
        if ($('#salarytable') != null) {
            for (var i = 6; i < $("#salarytable").find('tr')[0].cells.length; i++) {
                var sum = 0;
                // iteration through all td's in the column
                $('#salarytable tr td:nth-child(' + i + ')').each(function () {
                    sum += parseFloat($(this).text().replace(',', '')) || 0;
                });
                // set total in last cell of the column
                if (sum !== 0) {
                    $('#salarytable tr td:nth-child(' + i + ')').last().html(sum.toFixed(2));
                } else {

                    $('#salarytable tr th:nth-child(' + i + ')').hide();
                    $('#salarytable tr td:nth-child(' + i + ')').hide();
                }

            }

        }
    }
    function print() {
        total();
        var gridInsideDiv = document.getElementsByClassName('printdiv');
        var printWindow = window.open('gview.htm', 'popup', 'left=0,top=0,width=1024,height=768,toolbar=1,scrollbars=1,menubar=1,status=1');
        gridInsideDiv.border = 2;
        printWindow.document.write(gridInsideDiv.innerHTML);
        printWindow.document.close();
        printWindow.focus();
        printWindow.print();
    }
</script>

<style type="text/css">
    #ajax-progress-dialog {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000000;
        background-color: grey;
        opacity: .8;
    }

    .ajax-loader {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -32px; /* -1 * image width / 2 */
        margin-top: -32px; /* -1 * image height / 2 */
        display: block;
    }
</style>
<div class="row">
    <h4>Salary Sheet</h4>
    <hr />
    

    @Html.ValidationSummary(true)
    <div id="ajax-progress-dialog" style='display: none'>
        <div style="text-align: center; z-index: 999999999999" class="ajax-loader">
            <img src="@Url.Content("~/images/loading.gif")" alt="Loading..." />
        </div>
    </div>
    <div class="form-group col-lg-3">
        @Html.LabelFor(model => model.Branch)
        @Html.DropDownListFor(model => model.Branchid, DropdownHelper.FillddlBranch())
        @Html.ValidationMessageFor(model => model.Year)
    </div>
    <div class="form-group col-lg-2">
        @Html.LabelFor(model => model.Year)
        @Html.DropDownListFor(model => model.Year, DropdownHelper.FillddlYear(), new { @onchange = "daysInMonth()" })
        @Html.ValidationMessageFor(model => model.Year)
    </div>
    <div class="form-group col-lg-2">
        @Html.LabelFor(model => model.Month)
        @Html.DropDownListFor(model => model.Month, DropdownHelper.FillddlMonth(), new { @onchange = "daysInMonth()" })
        @Html.ValidationMessageFor(model => model.Month)
    </div>
    <div class="form-group col-lg-2">
        @Html.LabelFor(model => model.Totaldaysinmonth)
        @Html.TextBoxFor(model => model.Totaldaysinmonth)
        @Html.ValidationMessageFor(model => model.Totaldaysinmonth)
    </div>
    <div class="form-group col-lg-1">
        <br />
        <input type="submit" value="Search" class="btn btn-default" onclick="daysInMonth(); getEmployees(); return false;" />
    </div>
    <div class="form-group col-lg-1">
        <br />
        <input type="submit" value="View NonZero" class="btn btn-default" onclick="total(); return false;" />
    </div>
    <div class="clearfix"></div>
    <div id="employeetable"></div>

</div>
